---
layout: page
title: CEL@TTU
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">THE COGNITION &#38; <br> EMOTION LAB @ TTU</h1>
          <p class="animated fadeInUp">An interdisciplinary group of scientists using communication to solve problems.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>What is Communication Science?</h2>
            <p>"Research, then, is not so much the production of a single study as it is an engagement of the researcher in a long-term commitment to imagine, and then try to find out , what is going on when humans communicate with one another." - Chaffee</p>
          </div>
          <p>We believe that the ultimate goal of communcation as a science should be to "do good" for society. To that end, we combine researchers from biology, human sciences, psychology, cognitive neuroscience, and media and communication to tackle problems for the betterment of everyone. </p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>WE BELIEVE IN GREAT IDEAS</h2>
      <p>While each PI within the CEL has their own graduate students and research trajectory, the CEL is not intended to be the research factory for any one line of work.</p>
      <p>Instead, the CEL is a place where anyone interested in using communication science to solve a problem is welcomed. From undergraduates to emeritus faculty.</p>
      <p>This approach has resulted in a variety of unique research products and funding opportunities, which can be viewed here!</p>
      <a href="#" class="btn btn-view-works">View Works</a>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>What do we do and how do we do it?</h2>
        <p>We study how humans interact with and process mediated communication via a variety of methodological and statistical approaches. In addition, this work is informed by four key foundations for our lab.</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-ios-monitor"></i>
          <h4>Media</h4>
          <p>Media are ubiquitous around us. This presents society with several issues of misuse as well as opportunities for sociatal gain through correct use.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4>Communication-Related Problems</h4>
          <p>We believe that communication science can be weilded to solve real problem sets that affect society.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-ios-pulse-strong"></i>
          <h4>Psychophysiology</h4>
          <p>One of the primary ways that we answer our research questions is through the use of psychophysiology.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-ios-gear"></i>
          <h4>Data Science</h4>
          <p>Lastly, we approach our data from the perspective of tools, rather than outcomes. We utilize multi-level modeling and other advanced statistical approaches to answer our questions.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-headphone"></i>
          <h4>Diversity</h4>
          <p>Science, and society, are better when every voice is heard, every face is seen, and the work is divided fairly.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-leaf"></i>
          <h4>Open Science</h4>
          <p>Science is better when it is done in the open and when materials are made freely available.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-planet"></i>
          <h4>Mentorship</h4>
          <p>Science is better when the next generation is meangingfully mentored and developed so that they can then go and replicate that approach in their own labs in the future.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-ios-people"></i>
          <h4>Collegiality</h4>
          <p>Science is not a zero-sum game. We stress collegiality and cheer each other on. Always.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>We train the next generation of communicators.</h2>
          <p>Through our collaborative, inclusive approach, we are training the next generation of communicators for both the industry and the academy.</p>
          </p>Looking to join a vibrant research group? We are recruiting!</p>
          <a class="btn btn-default btn-call-to-action" href="{{ site.baseurl }}/contact" >Come Join Us!</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
