---
layout: page
title: Our People
permalink: /people/
---

 <!-- Slider Start -->
 <section id="global-header">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="block">
           <h1>Who are we?</h1>
           <p>Past and present, the members of CEL are a diverse, interesting group of scholars.</p>
         </div>
       </div>
     </div>
   </div>
 </section>

<!-- Lab Member section. Includes photos. -->

<div class="row">
	<div class="col-md-12">
		<div class="title">
			Current members
		</div>
	</div>
</div>

<div class="bigspacer"></div>

{% for member in site.categories.team reversed %}
	{% if member.alumni != true %}
    {% cycle 'add rows': '<div class="row">', '', '' %}
		<div class="col-md-4 memberbox">
			<div class="media">
  				<a class="pull-left" href="{{ member.url }}">
    				<img width=160 class="media-object" src="{{ member.image }}">
  				</a>
 			 	<div class="media-body">
    				<div class="head media-heading"><a href="{{ member.url }}" class="off">{{ member.title }}</a></div>
    				<p class="note">{{ member.position }}</p>
  				</div>
			</div>
			<div class="bigspacer"></div>
			<div class="bigspacer"></div>
        </div>
    {% cycle 'close rows': '', '', '</div>' %}
    {% endif %}
{% endfor %}
{% cycle 'close rows': '', '</div>', '</div>' %}

<!--
	This is hidden until information can be pulled from Past Members of CEL.
<div class="row">
	<div class="col-md-12">
		<div class="title">
			 Past members
		</div>
	</div>
</div>
-->
<div class="bigspacer"></div>

{% for member in site.categories.team reversed %}
	{% if member.alumni == true %}
    {% cycle 'add rows 2': '<div class="row">', '', '' %}
		<div class="col-md-4 memberbox">
			<div class="media">
  				<!--
  				<a class="pull-left" href="{{ member.url }}">
    				<img width=160 class="media-object" src="{{ member.image }}">
  				</a>
  				-->
 			 	<div class="media-body">
    				<div class="head media-heading"><a href="{{ member.url }}" class="off">{{ member.title }}</a></div>
    				<p class="note">{{ member.position }}</p>
  				</div>
			</div>
			<div class="bigspacer"></div>
        </div>
    {% cycle 'close rows 2': '', '', '</div>' %}
    {% endif %}
{% endfor %}
{% cycle 'close rows 2': '', '</div>', '</div>' %}